
/* CAROUSEL */

.carouselCont{
  margin: 0 auto;
  user-select: none;
  transform-style: preserve-3d;
  transition: transform 0.1s ease-out;
  overflow: hidden;
  position: relative;
  height: fit-content;
  padding: 50px 0;
}

.carousel-container {
  width: calc(100vw + 256px);
  height: var(--carousel-height);
}

.slider-track {
  gap: 20px;
  height: 200px;
  display: flex;
  width: max-content;
  animation: scroll var(--duration) linear infinite;
  transform: rotateY(20deg);
}

@keyframes scroll {
  0% { transform: translateX(0) rotateY(20deg); }
  100% { transform: translateX(-50.2%) rotateY(20deg); }
}

@keyframes scroll {
  0% { transform: translateX(0)  scale(-1) rotateX(180deg); }
  100% { transform: translateX(-50.2%) scale(-1) rotateX(180deg); }
}

.carousel-container:hover .slider-track {
  animation-play-state: running;
}

@media screen and (min-width: 1920px) {
  .carousel-container {
    max-width: 2560px;
    mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
  }
  .carouselCont {
    max-width: 2560px;
    mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
  }
}

@media screen and (min-width: 1600px) {
  .carousel-container {
    max-width: 2560px;
    mask: linear-gradient(90deg, transparent, white 10%, white 90%, transparent);
  }
  .carouselCont {
    max-width: 2560px;
    mask: linear-gradient(90deg, transparent, white 10%, white 90%, transparent);
  }
}

@media screen and (max-width: 1366px) {
  .carousel-container{
    margin-left: 0 !important;
  }
}

/* RESP */

@media screen and (max-width: 1800px) {
  .carousel-container{
    scale: 1;
    margin-left: -5px !important;
  }
}


@media screen and (max-width: 1200px) {
  .carousel-container{
    scale: 0.95;
    margin-left: -72px !important;
  }
}

@media screen and (max-width: 992px) {
  .carousel-container{
    scale: 0.85;
    margin-left: -83px !important;
  }
}

@media screen and (max-width: 768px) {
  .carousel-container{
    scale: 0.83;
    margin-left: -77px !important;
  }
}

@media screen and (max-width: 576px) {
  .carousel-container{
    scale: 0.77;
    margin-left: -120px !important;
  }
}