/* CONTEUDO MAIN */

@font-face {
    font-family: GraphikReg;
    src: url(Fontes/GraphikRegular.otf);
    font-weight: regular;
}

@font-face {
    font-family: GraphikMed;
    src: url(Fontes/GraphikMedium.otf);
    font-weight: medium;
}

@font-face {
    font-family: GraphikThiIt;
    src: url(Fontes/GraphikThinItalic.otf);
    font-weight: Italic;
}

body {
    font-family: GraphikReg;
    margin: 0px;
}

/* CONTEUDO PARA SISTEMA DE BARRA DE NAVEGAÇÃO */

.nnbar .underanim {
    display: inline-block;
    position: relative;
    color: rgb(255, 255, 255);
}

.nnbar .underanim:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom left;
    transition: transform 0.25s ease-out;
}

.nnbar .underanim:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.nnbar {
    overflow: hidden;
    background: linear-gradient(180deg, rgb(54, 54, 54) 0%, rgb(54, 54, 54)) 100%;
    font-family: GraphikMed;
    position: fixed;
    width: 100%;
    z-index: 99999;
    box-shadow: black 1px 1px 15px;
}

.nnbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 0px;
    padding: 10px;
    margin-inline: auto;
}

.nnbar a:hover {
    background: linear-gradient(60deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5)00%);
    color: rgb(255, 255, 255);
}

.nnbar a.active {
    background: linear-gradient(60deg, rgb(144, 124, 223) 0%, rgb(255, 37, 37) 100%);
    color: white;
    border-radius: 0px;
    padding: 10px;
    margin-inline: auto;
    
}

.nnbar .icon {
    display: none;
}

.logo-image {
    border-radius: 0%;
    overflow: hidden;
    text-align: left;
    font-family: GraphikThiIt;
    font-size: larger;
    height: 19px;
}

@media (max-width: 900px) {
    .logo-image .nnbar {
        text-align: center;
        float: none;
        overflow: hidden;
        position: fixed;
    }
}

@media screen and (max-width: 900px) {
    .nnbar a:not(:first-child) {display: none;}
    .nnbar a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 900px) {
    .nnbar.responsive {position: fixed;}
    .nnbar.responsive .icon {
        position: fixed;
        right: 0px;
        top: 0px;
    }
    .nnbar.responsive a {
        float: none;
        display: block;
        text-align: center;
    }
}

/* CONTEUDO PRINCIPAL */

html {
    font-size: calc(10px + 0.490625vw);
}

* {
    box-sizing: border-box;
}

body {
    background: rgb(255, 255, 255)
}

/* CONTEUDO 1 */

.caixap1 {
    display: flex;
    background-image: url("/Aplic/Landing\ Page\ \(iBank\)/iBankBack.png");
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
    background-size: cover;
    height: 950px;
    flex-direction: row;
    justify-content: space-between;
    bottom: 50px;
}

@media (max-width: 900px) {
    .caixap1, .caixap1cpf {
        flex: 100%;
        flex-direction: column;
        text-align: center;
        height: 990px;
        }
    }

@media (max-width: 900px) {
    .caixap1frases1 {
        text-align: center;
        padding-bottom: 100px;
        padding: 10px;
        text-align: center;
        margin: auto;
        margin-top: 75px;
        font-size: larger;
        border-radius: 0px;
        vertical-align: middle;
        color: white;
        flex: 50%;
        text-shadow: black 1px 1px 15px;
    }
}

@media (min-width: 900px) {
    .caixap1frases1 {
    padding: 10px;
    text-align: left;
    margin: auto;
    border-radius: 0px;
    vertical-align: middle;
    color: white;
    flex: 50%;
    text-shadow: black 1px 1px 15px;
    margin-left: 50px;
    }
}

.caixap1cpf {
    text-align: center;
    padding: 10px;
    margin: auto;
    border-radius: 0px;
    color: white;
    flex: 50%;
    text-shadow: black 1px 1px 15px;
    font-size: calc(10px + 0.790625vw);
}

.cpfbox {
    position: relative;
    width: 275px;
    text-align: center;
    margin: auto;
    box-shadow: black 1px 1px 15px;
    border-radius: 50px;
    }

  .cpfbot-input {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 100px;
    padding: 10px 100px 10px 20px; 
    line-height: 2;
    box-sizing: border-box;
    outline: none;

  }
  .cpfbot-bot {
    position: absolute;
    right: 3px; 
    top: 3px;
    bottom: 3px;
    border: 0;
    background: linear-gradient(60deg, rgb(144, 124, 223) 0%, rgb(255, 37, 37) 100%);
    color: #fff;
    outline: none;
    margin: 0;
    padding: 0 10px;
    border-radius: 100px;
    z-index: 2;
  }

  /* CONTEUDO 2 */

.caixap2 {
    display: flex;
    background-image: url(iBankBack2.png);
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
    background-size: cover;
    height: 950px;
    flex-direction: row;
    justify-content: space-between;
    bottom: 50px;
}

@media (max-width: 900px) {
    .caixap2 {
        flex: 100%;
        flex-direction: column;
        text-align: center;
        height: 850px;
        }
    }

@media (max-width: 900px) {
    .caixap2frases1 {
        text-align: center;
        padding-bottom: 100px;
        padding: 10px;
        text-align: center;
        margin: auto;
        margin-top: 30px;
        font-size: larger;
        border-radius: 0px;
        vertical-align: middle;
        color: white;
        flex: 50%;
        text-shadow: black 1px 1px 15px;
    }
}

@media (min-width: 900px) {
    .caixap2frases1 {
    padding: 10px;
    text-align: center;
    margin: auto;
    border-radius: 0px;
    vertical-align: middle;
    color: white;
    flex: 50%;
    text-shadow: black 1px 1px 15px;
    margin-left: 50px;
    }
}

.full {
    display: block;
    margin: auto;
}

.mobile {
    display: none;
    margin: auto;
}

.full2 {
    display: block;
    margin: auto;
}

.mobile2 {
    display: none;
    margin: auto;
}

.full3 {
    display: block;
    margin: auto;
}

.mobile3 {
    display: none;
    margin: auto;
}

.full4 {
    display: block;
    margin: auto;
}

.mobile4 {
    display: none;
    margin: auto;
}

@media (max-width: 900px) {
    .full {
        display: none;
    }
    .mobile {
        display: block;
    }
    .full2 {
        display: none;
        }
    .mobile2 {
        display: block;
        }
    .full3 {
        display: none;
        }
    .mobile3 {
        display: block;
    }
    .full4 {
        display: none;
        }
    .mobile4 {
        display: block;
    }
}

/* CONTEUDO 3 C01 */

.caixap3 {
    display: flex;
    background: linear-gradient(60deg, rgb(255, 255, 255) 0%, rgb(197, 197, 197) 100%);
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
    background-size: cover;
    height: 200px;
    flex-direction: row;
    bottom: 50px;
    min-height: 250px;
}

@media (max-width: 900px) {
    .caixap3, .C01 {
        flex: 100%;
        flex-direction: column;
        text-align: center;
        height: 900px;
        }
    }

@media (max-width: 900px) {
    .caixap3frases1 {
        text-align: center;
        padding-bottom: 0px;
        padding: 10px;
        text-align: center;
        margin: auto;
        margin-top: 75px;
        font-size: larger;
        border-radius: 0px;
        vertical-align: middle;
        color: rgb(0, 0, 0);
        flex: 50%;
        text-shadow: black 1px 1px 15px;
    }
}

@media (min-width: 900px) {
    .caixap3frases1 {
    padding: 30px;
    text-align: left;
    margin: auto;
    border-radius: 0px;
    vertical-align: middle;
    flex: 50%;
    text-shadow: black 1px 1px 15px;
    margin-left: 15px;
    float: left;
    }
}

@media (max-width: 900px) {
    .mobile2 {
    margin-top: -50px;
    }
}

@media (min-width: 900px) {
    .full2 {
        padding: 30px;
        text-align: right;
        margin: auto;
        vertical-align: middle;
        flex: 50%;
        float: right;
    }
}

/* CONTEUDO 4 C02 */

.caixap4 {
    display: flex;
    background: linear-gradient(60deg, rgb(5, 5, 5) 0%, rgb(43, 43, 43) 100%);
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
    background-size: cover;
    height: 200px;
    flex-direction: row;
    bottom: 50px;
    min-height: 250px;
}

@media (max-width: 900px) {
    .caixap4, .C02 {
        flex: 100%;
        flex-direction: column;
        text-align: center;
        height: 900px;
        }
    }

@media (max-width: 900px) {
    .caixap4frases1 {
        text-align: center;
        padding-bottom: 0px;
        padding: 10px;
        text-align: center;
        margin: auto;
        margin-top: 75px;
        font-size: larger;
        border-radius: 0px;
        vertical-align: middle;
        color: rgb(255, 255, 255);
        flex: 50%;
        text-shadow: black 1px 1px 15px;
    }
}

@media (min-width: 900px) {
    .caixap4frases1 {
    padding: 30px;
    text-align: left;
    margin: auto;
    border-radius: 0px;
    vertical-align: middle;
    flex: 50%;
    text-shadow: black 1px 1px 15px;
    margin-left: 15px;
    float: left;
    color: white;
    }
}

@media (max-width: 900px) {
    .mobile3 {
    margin-top: -50px;
    }
}

@media (min-width: 900px) {
    .full3 {
        padding: 30px;
        text-align: right;
        margin: auto;
        vertical-align: middle;
        flex: 50%;
        float: right;
    }
}

/* CONTEUDO 5 C03 */

.caixap5 {
    display: flex;
    background: linear-gradient(60deg, rgb(144, 124, 223) 0%, rgb(255, 37, 37) 100%);
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
    background-size: cover;
    height: 200px;
    flex-direction: row;
    bottom: 50px;
    min-height: 250px;
    color: white;
}

@media (max-width: 900px) {
    .caixap5, .C03 {
        flex: 100%;
        flex-direction: column;
        text-align: center;
        height: 900px;
        }
    }

@media (max-width: 900px) {
    .caixap5frases1 {
        text-align: center;
        padding-bottom: 0px;
        padding: 10px;
        text-align: center;
        margin: auto;
        margin-top: 75px;
        font-size: larger;
        border-radius: 0px;
        vertical-align: middle;
        flex: 50%;
        text-shadow: black 1px 1px 15px;
    }
}

@media (min-width: 900px) {
    .caixap5frases1 {
    padding: 30px;
    text-align: left;
    margin: auto;
    border-radius: 0px;
    vertical-align: middle;
    flex: 50%;
    text-shadow: black 1px 1px 15px;
    margin-left: 15px;
    float: left;
    }
}

@media (max-width: 900px) {
    .mobile4 {
    margin-top: -50px;
    }
}

@media (min-width: 900px) {
    .full4 {
        padding: 30px;
        text-align: right;
        margin: auto;
        vertical-align: middle;
        flex: 50%;
        float: right;
    }
}

/* Footer */
.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:25px;
  color:#737373;
  text-align: center;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.3;
}
.site-footer hr.small
{
  margin:20px 0;
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform: uppercase;
  margin-top: 0px;
  letter-spacing:3px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#cc3333;
  text-decoration:none;
}
.footer-links
{
  padding-left: 0;
  padding-bottom: 35px;
  list-style: none;
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#cc3333;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}

.copyright-text
{
  margin: 10px;
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:900px)
{
  .site-footer
  {
    padding-bottom: 5px;
  }
  .site-footer .copyright-text,.site-footer
  {
    text-align:center
  }
}