@charset "UTF-8";

html h1 {
  font-size:x-large;
}

html h2 {
  font-size: xx-small;
}

html h3 {
  font-size: large;
}

html h4 {
  font-size: large;
}

html h5 {
  font-size: medium;
}

html h6 {
  font-size:x-large;
}

body {
    background: linear-gradient(250deg, #ad1669 0%, #ff3647 100%);
    font-family: Lato, Roboto !important;
    font-size: 15px;
    text-align: auto;
    overflow: auto;
    height: auto;
    width: auto;
    position: relative;
    background-attachment: fixed;
    background-size: 200% 200%;
    animation: anim 5s ease infinite;
    }

#divm {
  text-decoration: none;
  text-decoration: underline;
}

#nbar li {
  float: left;
}

#nbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3c0;
  border-radius: 10px;
  padding: 3px;
  width: auto;
  max-width: fit-content;
  position: fixed;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.281);
  backdrop-filter: blur(15px);
}

#exp li {
  list-style-type: none;
}

#exp ul {
  text-align: center;
  padding-left: 5px;
}

li a {
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 10px;
  padding: 15px;
  transition: background-color 0.5s, color 0.5s;
}

li a:hover:not(.active) {
  background-color: #0000002c;
  transition: background-color 0.5s;
}

li a.active {
  color: white;
  background-color: #04AA6D;
  border-radius: 10px;
  padding: 15px;
}



h1 {
    color:rgb(255, 255, 255);
    background: linear-gradient(60deg, #ad1669 0%, #ff3647 100%);
    background-size: 200% 200%;
    animation: anim 5s ease infinite;
    border-radius: 10px;
    width: 370px;
    margin: auto;
    padding-left: 3%;
    padding-right: 3%;
    width: fit-content;
}
  @keyframes anim {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

h2 {
    color:black;
}

h3 {
    color:black;
}

h5 {
    color:black;
}

p {
    color:black;
}

li {
    color:black;
}

a {
    color: #ad1669;
    text-decoration: none;
}

a:hover {
    color: #ad1669;
    text-decoration: underline;
    transition: color 0.5s;
}

ul a:hover {
  color: #ad1669;
  text-decoration: none;
  transition: color 0.5s;
}

/* BARRA DE NAVEGAÇÃO */

#nbaranim {
  position: fixed;
  display: block;
  top: 0px;
  width: 100%;
  transition: top 0.3s;
  z-index: 99999;
}


@media (max-width: 900px) {
  .divm {
    padding-top: 71px;
  }
}

/* todo o site */

@media (max-width: 900px) {
  .wrapper {
    transform: scale(0.7, 0.7);
  }
}
a:active {
    color:rgb(107, 107, 107)
}

section {
    background-image: linear-gradient(rgb(255, 255, 255), rgb(228, 228, 228));
    border-radius: 10px;
    padding: 15px;
    width: auto;
    max-width: fit-content;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.281);
}

@media (max-width: 900px) {
  section {
  padding: auto;
  margin: auto;
  }
}

.divm {
  text-align: center;
  float: auto;
}

.divimg1 {
  float: auto;
  max-width: 50px;
  max-height: 50px;
}

#resimg {
  max-width: 840px;
  max-height: 480px;
}

#cartextback {
  background-color: rgba(255, 255, 255, 0.63);
  text-align: center;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.281);
}

@media (min-width: 900px) {
  #iskgtm {
  transition: box-shadow 0.5s, transform 0.5s, margin-bottom 0.5s, margin-top 0.5s, border 0.5s;
  border: solid 0px #ff364700;
  margin: auto;
  margin-bottom: 3rem;
  margin-top: 3rem;
  }
}

@media (min-width: 900px) {
#iskgtm:hover {
  box-shadow: 0px 0px 30px rgba(0,0,0, 0.6);
  cursor: default;
  margin: auto;
  margin-bottom: 5rem;
  margin-top: 3rem;
  transition: margin-bottom 0.5s, margin-top 0.5s, transform 0.5s, border 0.5s, box-shadow 0.5s;
  transform: scale(1.3);
  border: solid 20px #ff3647;
  }
}

.divaplic {
  text-align: center;
  float: auto;
}

.divap {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: row;
  flex-flow: wrap;
/*   background-color: rgb(0, 255, 0); */
}

@media (max-width: 950px) {
  .divap {
    transition: transform 0.5s, flex-direction 0.5s;
    transform: scale(0.95);
    padding-top: 71px;
    flex-flow: wrap;
    padding: 10px;
  }
  #secanim:hover {
    transform: scale(1.00);
    border: solid 2px #ff3647;
    margin: 10px;
  }
}

@media (min-width: 950px) {
  .divap {
    transition: transform 0.5s, flex-direction 0.5s;
    transform: scale(1.0);
    padding-top: 71px;
    flex-direction: row;
    padding: 1rem;
  }
  #secanim:hover {
    transform: scale(1.2);
    border: solid 3px #ff3647;
    margin: 13px;
  }
}

.divap > section {
  max-width: 128px;
  height: 150px;
  margin: 10px;
  align-self: center;
  text-align: center;
}

#secanim {
  transition: box-shadow 0.5s, transform 0.5s, margin 0.5s, border 0.5s;
  transition-timing-function: ease;
  border: solid 0px #ff364700;
  margin: 10px;
}

#secanim:hover {
  box-shadow: 0px 0px 30px rgba(0,0,0, 0.6);
  cursor: pointer;
  transition: margin 0.5s, transform 0.5s, border 0.5s, box-shadow 0.5s;
  transition-timing-function: ease;

}

.divlan {
  text-align: center;
  float: auto;
}

.divcur {
  text-align: center;
  float: auto;
}

.divfot {
  text-align: center;
  float: auto;
}

.legsrc {
  width: 96px;
  height: 96px;
  -moz-box-shadow: 0px 6px 5px rgb(0, 0, 0);
  border-radius: 128px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.281);
  padding: 5px;
  margin: auto;
  display: inline;
  justify-content: center;
  align-items: center;
  float: none;
  vertical-align: text-bottom;
}

#curriculobutton {
  border-color: #ad1669;
  color: #ad1669;
  background: linear-gradient(60deg, #ad166900 0%, #ff364700 100%);
  background-size: 500% 500%;
  border-radius: 13px;
  text-decoration: none;
  transition: background-size 500ms;
}

#curriculobutton:hover {
  background: linear-gradient(60deg, #ad1669 0%, #ff3647 100%);
  background-size: 100% 100%;
  color: white;
  transition: background-size 500ms;
}

/* Animação wave */

.parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
  }
  .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }
  .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }
  @keyframes move-forever {
    0% {
     transform: translate3d(-90px,0,0);
    }
    100% { 
      transform: translate3d(85px,0,0);
    }
  }
  /*Shrinking for mobile*/
  @media (max-width: 900px) {
    .waves {
      height:40px;
      min-height:40px;
    }
    .content {
      height:30vh;
    }
    h1 {
      font-size:24px;
    }
  }

  .header {
    position:relative;
    text-align:center;
    background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
    color:white;
  }

  .inner-header {
    height:65vh;
    width:100%;
    margin: 0;
    padding: 0;
  }
  
  .flex { /*Flexbox for containers*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .wavesback {
    position: absolute;
    width: 100%;
  }
  
  .waves {
    position: relative;
    width: 100%;
    margin-bottom: -0;
    min-height:100px;
    max-height:150px;
    background-attachment: fixed;
    background-repeat: no-repeat
  }
  
  .content {
    position:relative;
    height:20vh;
    text-align:center;
    background-color: rgb(255, 255, 255);
  }

  /* CODIGO IMPORTADO DE BERLINES1 IMPLEMENTADO E ADAPTADO POR MIM