.containerBlurTopBottom {
    height: 100dvh;
    width: 100vw;
    position: fixed;
    z-index: 9;
    pointer-events: none;
    transition: opacity 300ms ease;
}

.BlurTop {
    background-color: #d1d1d1;
    backdrop-filter: blur(0px);
}

.BlurBottom {
    background-color: #d1d1d1;
    backdrop-filter: blur(0px);
}

.BlurTop {
    position: fixed;
    z-index: 9;
    top: 0;
    width: 100vw;
    height: 60px;
    pointer-events: none;
    transition: opacity 300ms ease;
    mask: linear-gradient(0deg, transparent 0%, var(--color-bg-blur-primary-hover) 100%);
}

.BlurBottom {
    position: fixed;
    z-index: 9;
    bottom: 0;
    width: 100vw;
    height: 80px;
    pointer-events: none;
    transition: opacity 300ms ease;
    mask: linear-gradient(180deg, transparent, var(--color-bg-primaryGradient) 95%);
}
