@import "tailwindcss";

.mainAboutSkeleton {
    color: var(--color-white);
    cursor: wait;
    background-color: black;
}

.section2 {
    /* background-color: var(--color-bg-primary);*/
    background-color: #00000000;
    color: var(--color-text-primary);
}

.section3 {
    background-color: var(--color-bg-secondary);
    color: var(--color-text-primary);
}

.section4 {
    background-color: var(--color-bg-primary);
    color: var(--color-text-primary);
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--color-bg-primary);
}