
/* CAROUSEL */

.mainSection{
    height: 100vh;
    max-width: 1080px;
    width: calc(100vw - 15px);
    user-select: none;
    pointer-events: none;
    z-index: -1;
}

.backgroundVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -5;
    animation: fadeIn 1s ease-out;
}

.logoName {
    padding-left: 25px;
    width: 100%;
    position: absolute;
    bottom: 90px;
    font-family: Phonk;
    text-wrap: nowrap;
    font-size: 32px;
    font-weight: 900;
    gap: 7px;
    display: flex;
    flex-direction: column;
    color: #bfbfbf;
}

.logoName > img {
    width: 474px;
}

.section2 {
    background-color: var(--color-bg-primary);
    height: 1500px;
}

/* RESP */

@media screen and (max-width: 575px) {
    .logoName {
        font-size: 6.4vw;
        gap: 5px;
        display: flex;
        padding-left: 0;
        align-items: center;
        padding: 0 20px;
    }

    .logoName > img {
        width: 100%;
        max-width: 550px;
    }
}

@media screen and (min-width: 576px) {
    .logoName {
        font-size: 28px;
        gap: 5px;
        display: flex;
        padding-left: 0;
        align-items: center;
    }

    .logoName > img {
        width: 393px;
    }
}

@media screen and (min-width: 768px) {
    .logoName {
        font-size: 28px;
        gap: 5px;
        display: flex;
        padding-left: 0;
        align-items: center;
    }

    .logoName > img {
        width: 393px;
    }
}

@media screen and (min-width: 992px) {
    .logoName {
        font-size: 28px;
        gap: 5px;
        display: flex;
        padding-left: 0;
        align-items: center;
    }

    .logoName > img {
        width: 393px;
    }
}

@media screen and (min-width: 1200px) {
    .logoName {
        font-size: 26px;
        gap: 5px;
        align-items: flex-start;
        padding-left: 25px;
    }

    .logoName > img {
        width: 385px;
    }
}

@media screen and (min-width: 1600px) {
    .logoName {
        font-size: 32px;
        gap: 7px;
        bottom: 30px;
        padding-left: 25px;
    }

    .logoName > img {
        width: 474px;
    }
}

@keyframes fadeOut {
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

@keyframes fadeIn {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}