.mainSection {
    position: relative; /* Adicionado para prender a logo */
    height: 100vh;
    width: 100%;
    overflow: hidden;
    user-select: none;
    background-color: #000;
    z-index: -1;
}

.backgroundVideoContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.backgroundVideo {
    position: fixed; /* Mantido fixed para o efeito de parallax no scroll */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1; /* Fica atrás de tudo */
    pointer-events: none;
}

.logoName, .logoNameSkeleton {
    position: absolute;
    left: 25px;
    bottom: 90px;
    font-size: 32px;
    z-index: 10; /* Garante que fique acima do vídeo */
    font-family: Phonk, sans-serif;
    color: #bfbfbf;
    display: flex;
    flex-direction: column;
    gap: 7px;
    text-transform: lowercase;
}

.logoNameSkeleton {
    bottom: 40px;
    left: 20px;
}

.logoName > img {
    width: 474px;
    height: auto;
}

/* Fix para o skeleton não quebrar o layout */
.logoNameSkeleton {
    padding-left: 25px;
}

/* --- RESPONSIVIDADE CORRIGIDA --- */

@media screen and (max-width: 575px) {
    .logoName {
        left: 0;
        width: 100%;
        align-items: center;
        padding: 0 20px;
        font-size: 5.7vw;
    }
    .logoName > img { width: 90%; }

    .logoNameSkeleton {
        bottom: 90px;
        left: 0px;
    }
}

@media screen and (min-width: 576px) and (max-width: 1199px) {
    .logoName {
        left: 20px;
        align-items: flex-start;
        font-size: 24px;
    }
    .logoName > img { width: 350px; }
    
    .logoNameSkeleton {
        bottom: 90px;
        left: 0px;
    }
}

@media screen and (min-width: 1600px) {
    .logoName {
        bottom: 50px;
        left: 40px;
    }
}