/* ABOUT PROJECTS */

.container {
    background: var(--color-accent);
    height: 840px;
    overflow: hidden;
    display: none;
}

.grid {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    height: 100%;
    max-width: 1600px;
}

.left {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.title {
    display: flex;
    align-items: center;
    font-family: 'Phonk';
    font-size: 50px;
    background: white;
    color: var(--color-accent);
    padding: 10px 25px;
    border-radius: 35px;
    width: fit-content;
    justify-content: center;
}

.label {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Phonk';
    font-size: 25px;
    font-family: SF, Helvetica, Arial, sans-serif;
    font-weight: 900;
    background: white;
    color: var(--color-accent);
    width: fit-content;
    padding: 10px 25px;
    border-radius: 35px;
    font-size: 19px;
}

.container3D {
    display: flex;
    align-items: center;
}

.d3d {
    height: 480px;
    aspect-ratio: 1.1;
    background-color: white;
}


.right {
    width: 100%;
    height: 100%;
}

/* HOVERS */



@media screen and (max-width: 992px) {

}

/* RESP */

@media screen and (max-width: 1600px) {

}

@media screen and (max-width: 1199px) {
    .grid {
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 576px) {

}

/* ANIMATIONS */
