/* NAVBAR */

.scrollButton {
  /* transform: translateX(calc(100% + 15px)); */
  opacity: 0;
}

.scrollButton {
  border-radius: 100px;
  height: 32px;
  width: 32px;
  z-index: 10;
  pointer-events: auto;
  font-size: 28px;
  padding: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 15px;
  bottom: 120px;
  position: absolute;
  background-color: var(--color-bg-blur-primary);
  backdrop-filter: url(#glass-distortion) blur(3px);
  box-shadow: inset 0 5px 10px -3px #ffffff30,
  0px 0px 15px #00000055;
  color: white;
  border: 1px solid #92929225;
}

.scrollButtonIcon {
  filter: blur(7px);
}

.mainNavbar {
  display: flex;
  justify-content: center;
}

.headerAnim {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  transition: transform 0.2s ease-in-out;
  pointer-events: none; /* desativa interação geral */
}

.mainNavbar nav {
  pointer-events: auto; /* reativa interação no nav */
}


nav {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none !important;
  font-family: SF, Helvetica, Arial, sans-serif;
  font-size: 16px;
  letter-spacing: 0.5px;
  font-weight: 600;
  gap: 0px;
  margin-bottom: 15px;
  border-radius: 100px;
  padding: 0 7px;
  bottom: 15px;
  width: fit-content;
  height: 70px;
  background-color: var(--color-bg-blur-primary);
  backdrop-filter: url(#glass-distortion) blur(3px);
  color: white;
  border: 1px solid #92929225;
  box-shadow: inset 0 5px 10px -3px #ffffff30,
  0px 0px 15px #00000055;
  transition: scale 200ms;
}

.buttonNav {
  background-color: #00000000;
  outline: 0px solid #92929200;
  border-radius: 100px;
  transition: outline 0.1s;
}

nav > .buttonItem {
  display: flex;
  gap: 0px;
  padding: 0 5px;
  align-items: center;
  flex-direction: column-reverse;
  cursor: default;
  background-color: #0000;
  color: inherit;
}

nav > .buttonItem > svg {
  background-color: #ffffff00;
  outline: 1px #0000;
  border-radius: 100px;
  padding: 3px 25px;
  transition: all 0.1s;

  fill-opacity: 0;
  stroke: #ffffff;
  stroke-width: 20px;
  stroke-dasharray: 1, 0;
  stroke-linejoin: round;
}

nav > .buttonItem:hover {
  border-color: #ff000000;
}

.buttonItem:focus,
.buttonItem:focus-visible {
  outline: 0px auto -webkit-focus-ring-color;
}

.buttonItem > svg {
  font-size: 25px;
}

.logo {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-top: 5px;
  height: calc(100% - 5px);
}

.logoGif > img {
  width: 65px;
  margin-bottom: 9px;
  margin-left: 5px;
  margin-right: 2px;
  pointer-events: none;
}

/*
.logoGif > img {
  width: 72px;
  pointer-events: none;
}

*/


.logoName > img {
  width: 211px;
  padding-right: 15px;
  pointer-events: none;
}

/* NAVBAR HOVERS */

nav:hover {
  scale: 1.010;
  transition: scale 200ms;
}

nav:active {
  scale: 0.980;
  transition: scale 200ms;
}

.buttonNav:hover{
  box-shadow: inset 0 5px 10px -3px #ffffff30,
  0px 0px 15px #00000055;
  background: #ffffff1c;
  outline: 1px solid #92929285;
  transition: outline 0.1s;
}

.buttonNav.active{
  box-shadow: inset 0 5px 10px -3px #ffffff30,
  0px 0px 15px #00000055;
  background: #ffffff1c;
  outline: 1px solid #92929285;
  transition: outline 0.1s;
}

.activeSVG{
  fill-opacity: 1 !important;
  background-color: #fff;
  transition: all 0.1s;
}

.scrollButton:hover {
  background: #ffffff1c;
  border: 1px solid #92929285;
  transition: all 0.1s;
}

.scrollButton:active {
  scale: 0.950;
  transition: scale 200ms;
}

@media screen and (max-width: 992px) {
  .scrollButton:hover {
    background-color: var(--color-bg-blur-primary);
    border: 1px solid #92929225;
    transition: all 0.1s;
  }
  .scrollButton:active {
    background: #ffffff1c;
    border: 1px solid #92929285;
    transition: all 0.1s;
  }
}

/* RESP */

@media screen and (max-width: 575px) {

  .mainNavbar {
    margin-bottom: 10px; 
  }

  nav {
    /* width: calc(100% - 30px); */
    height: 60px;
    width: 230px;
    justify-content: space-between;
  }
  nav > .buttonItem > .buttonText {
    display: none;
  }

  nav > .buttonItem > svg {
    padding: 13px 20px;
  }

  .buttonItem > svg {
    font-size: 20px;
  }

  .logoName {
    display: none;
  }

  .logoGif > img {
    width: 50px;
    margin-bottom: 9px;
    margin-left: 0px;
    margin-right: 0px;
    pointer-events: none;
  }

  .scrollButton {
    bottom: 100px;
    font-size: 24px;
    padding: 22px;
  }
}

/* ANIMATIONS */

@keyframes fadeOut {
  0%{
    opacity: 1;
    bottom: 0px;
  }
  100%{
    opacity: 0;
    bottom: 35px;
  }
}

@keyframes fadeIn {
  0%{
    opacity: 0;
    bottom: 35px;
  }
  100%{
    opacity: 1;
    bottom: initial;
  }
}

.fadeIn{
  bottom: 100px;
  transition: bottom 0.2s ease-in-out;
}

.fadeOut{
  bottom: 35px;
  transition: bottom 0.2s ease-in-out;
}