/* ABOUT PARTNERS */

.container {
  padding: 30px 0px;
  max-width: 1600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.containerCard {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  flex: 0 1 240px;
  background-color: var(--color-bg-secondary);
  color: var(--color-text-secondary);
  font-family: SF, Helvetica, Arial, sans-serif;
}

.text {
  font-size: 19px;
  font-family: SF, Helvetica, Arial, sans-serif;
  font-weight: 500;
  text-align: justify;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  color: var(--color-text-secondary);
}

.title {
  margin-top: 0;
  font-family: Phonk;
  text-align: left;
  margin-bottom: 15px;
  font-size: 48px;
}

.card {
  color: var(--color-text-secondary);
  padding: 8px;
  height: 252px;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex: 0 1 240px;
  transition: all 200ms;
  cursor: default;
}

.card img {
  width: 240px;
  height: auto;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  margin-bottom: 12px;
  border-radius: 10px;
}

.card h3 {
  font-weight: 600;
  font-size: 18px;
}

.card p {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  width: 190px;
  height: 55px;
  margin-bottom: 5px;
}

.card a:hover {
  text-decoration: underline;
}

.listContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* HOVERS */

.card {
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}

.card:hover {
  color: var(--color-text-secondary);
  background-color: #d1d1d1;
  border: 1px solid #aaa;
}

.card:active {
  scale: 0.95;
}

@media screen and (max-width: 992px) {
  .card:hover {
    border: 1px solid #ccc;
    background-color: #f9f9f9;
  }

  .card:active {
    color: var(--color-text-secondary);
    background-color: #d1d1d1;
    border: 1px solid #aaa;
  }
}

/* RESP */

@media screen and (max-width: 1600px) {

  .container {
    padding: 30px 35px;
  }
  .text {
    font-size: 19px;
    padding-right: 50px;
  }

  .title {
    font-size: 40px;
  }
}

@media screen and (max-width: 1199px) {

  .container {
    padding: 30px 35px;
  }

  .text {
    margin-bottom: 10px;
    padding-right: 0px;
  }
  .title {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 30px 15px;
  }

  .text {
    margin-bottom: 5px;
    font-size: 18px;
  }
  .title {
    margin-bottom: 10px;
    font-size: 30px;
  }

  .containerCard {
    flex-direction: column;
    width: 100%;
  }

  .card {
    width: 100%;
    height: 200px;
  }

  .card img {
    width: 200px;
    height: auto;
    aspect-ratio: 21 / 9;
    object-fit: cover;
    margin-bottom: 12px;
    border-radius: 10px;
  }

}

@media screen and (max-width: 576px) {

}