.newsAtribution {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
}

#mainNews {
    display: none;
}

.newsAtributionBody a {
    text-decoration: none;
}

.newsAtributionBody a:hover {
    text-decoration: underline
}