/* Estrutura Raiz */

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none; 
}

::-webkit-scrollbar {
	width: 6px;
  }
  
  ::-webkit-scrollbar-track {
	  background: #00000000;
  }
   
  ::-webkit-scrollbar-thumb {
	  border-radius: 2px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
	  border-radius: 10px;
  }

  body {
    overflow-x: hidden !important;
    color: white;
  }

  main {
    user-select: none;
  }


@font-face {
  font-family: SF;
  src: url("../fonts/SF/SFBLACK.otf");
  font-weight: 900;
}

@font-face {
  font-family: SF;
  src: url("../fonts/SF/SFBOLD.otf");
  font-weight: 700;
}

@font-face {
  font-family: SF;
  src: url("../fonts/SF/SFREG.otf");
  font-weight: 500;
}

@font-face {
  font-family: SF;
  src: url("../fonts/SF/SFLIGHT.otf");
  font-weight: 300;
}

@font-face {
  font-family: SFITALIC;
  src: url("../fonts/SF/SFBLACKITALIC.otf");
  font-weight: 900;
}

@font-face {
  font-family: SFITALIC;
  src: url("../fonts/SF/SFBOLDITALIC.otf");
  font-weight: 700;
}

@font-face {
  font-family: SFITALIC;
  src: url("../fonts/SF/SFREGITALIC.otf");
  font-weight: 500;
}

@font-face {
  font-family: SFITALIC;
  src: url("../fonts/SF/SFLIGHTITALIC.otf");
  font-weight: 300;
}

@font-face {
  font-family: Syne;
  src: url("../fonts/Syne/SyneRegular.otf");
  font-weight: 500;
}

@font-face {
  font-family: Syne;
  src: url("../fonts/Syne/SyneBold.otf");
  font-weight: 700;
}

@font-face {
  font-family: Syne;
  src: url("../fonts/Syne/SyneExtra.otf");
  font-weight: 900;
}

@font-face {
  font-family: Phonk;
  src: url("../fonts/Phonk/PhonkRegular.otf");
  font-weight: 500;
}

@font-face {
  font-family: Phonk;
  src: url("../fonts/Phonk/PhonkContrast.otf");
  font-weight: 600;
}

@keyframes pulse {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyFrames fadeOut {
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

@keyframes fadeInInstLogo {
  0% {
    opacity: 0;
    transform: scale(0.99) translateY(-12px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fadeInChoose {
  0% {
    opacity: 0;
    overflow: hidden;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    overflow: hidden;
    transform: translateY(0px);
  }
}

@keyFrames fadeOutChoose {
  0%{
    opacity: 1;
    overflow: hidden;
    transform: translateY(0px);
  }
  100%{
    opacity: 0;
    overflow: hidden;
    transform: translateY(50px);
  }
}

@keyframes pulseSpotlight {
  0% {
    opacity: 0.3;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  55% {
    opacity: 0.6;
  }
  60% {
    opacity: 1;
  }
  75% {
    opacity: 0.3;
  }
  85% {
    opacity: 1;
  }
  75% {
    opacity: 0.6;
  }
  90% {
    opacity: 0.6;
  }
  100% {
    opacity: 0.3;
  }
}

@keyframes animatedTextColor {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes fadeInSemear {
  0% {
    transform: scale(0.50) translateY(0px);
    opacity: 0;
  }
  25%{
    opacity: 1;
  }
  100% {
    transform: scale(1.0) translateY(0px);
  }
}

@keyframes fadeOutSemear {
  0% {
    transform: scale(1.0) translateY(0px);
  }
  75%{
    opacity: 1;
  }
  100% {
    transform: scale(0.50) translateY(0px);
  }
}

@keyframes butScrollFadeIn {
  0% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes butScrollFadeOut {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(100px);
  }
}

@keyFrames animInSection{
  0%{
    transform: translateX(-7%);
    opacity: 0;
  }
  25%{
    opacity: 0;
  }
  100%{
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyFrames animOutSection{
  0%{
    transform: translateX(0%);
    opacity: 1;
  }
  25%{
    opacity: 1;
  }
  100%{
    transform: translateX(-7%);
    opacity: 0;
  }
}

.fade {
  animation: fadeInSemear ease-in-out 300ms;
}

.butScrollFadeIn {
  opacity: 1;
  transition: butScrollFadeIn 1500ms;
  display: block;
}

.butScrollFadeOut {
  opacity: 0;
  transition: butScrollFadeOut 1500ms;
}

/*ANIM FADE*/

.uianimated {
  position: relative;
  transform: translateY(60px);
  opacity: 0;
  transition: all 300ms ease-out;
}
	
.uianimated.bottom {
  transform: translateY(-60px);
}
	
.uianimated.left {
  transform: translateY(0px);
  transform: translateX(60px);
}
	
.uianimated.right {
  transform: translateY(0px);
  transform: translateX(-60px);
}
	
.uianimated.active {
  transform: translateY(0px);
  transform: translateX(0px);
  opacity: 1;
}
	
.uianimated.active.delay-100 {
    -webkit-transition-delay: 100ms;
    -moz-transition-delay: 100ms;
    -o-transition-delay: 100ms;
    transition-delay: 100ms;
}
	
.uianimated.active.delay-200 {
    -webkit-transition-delay: 200ms;
    -moz-transition-delay: 200ms;
    -o-transition-delay: 200ms;
    transition-delay: 200ms;
}

.uianimated.active.delay-300 {
    -webkit-transition-delay: 300ms;
    -moz-transition-delay: 300ms;
    -o-transition-delay: 300ms;
    transition-delay: 300ms;
}
	
.uianimated.active.delay-400 {
    -webkit-transition-delay: 400ms;
    -moz-transition-delay: 400ms;
    -o-transition-delay: 400ms;
    transition-delay: 400ms;
}

.uianimated.active.delay-500 {
    -webkit-transition-delay: 500ms;
    -moz-transition-delay: 500ms;
    -o-transition-delay: 500ms;
    transition-delay: 500ms;
}

/* respSystem*/

.respSystemSplash {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  font-size: 18px;
  font-family: Helvetica, sans-serif;
  text-align: justify;
  text-align-last: center;
  padding: 55px;
  position: fixed;
  z-index: 999997;
  justify-content: center;
  align-items: center;
  display: none;
}

.respSystemSplash > img {
  height: 400px;
}

.respSystem {
  display: none;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  font-size: 18px;
  font-family: Helvetica, sans-serif;
  text-align: justify;
  text-align-last: center;
  padding: 55px;
  position: fixed;
  z-index: 999999;
  justify-content: center;
  align-items: center;
}

.respSystemIco{
  width: 100px;
  margin-bottom: 20px;
  display: none;
}

.respSystemText1{
  display: block;
}
.respSystemText2{
  display: none;
  position: absolute;
  top: 20px;
}

.respSystemLoad {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00000090;
  position: fixed;
  z-index: 999998;
  cursor: wait;
  transition: opacity 500ms, visibility 500ms;
  display: none;
}

.loadHidden {
  opacity: 0;
  visibility: hidden;
}

.respSecLoading{
  height: 105px;
  width: 105px;
  border-radius: 100px;
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  box-shadow: 0 0 10px #00000050;
}

.respLoading{
  height: 80px;
}

@media screen and (max-width: 339px), (max-height: 400px) {
  body {
    background: #16161a;
    z-index: -9999 !important;
    overflow: hidden;
    overflow-x: hidden;
  }
  .respSystem {
    display: flex;
  }
  .respSystemIco {
    display: block;
    animation: pulse 1500ms infinite linear;
  }
  .respSystemText1{
    display: block;
  }
  .respSystemText2{
    display: none;
  }
}

@media screen and (max-width: 260px) {
  .respSystemIco {
    display: none;
  }
}

@media screen and (max-height: 155px) {
  .respSystemIco {
    display: none;
  }
}

@media screen and (max-height: 64px) {
  .respSystemText1 {
    display: none;
  }

  .respSystemText2 {
    display: block;
  }
}

@media screen and (max-width: 674px) {
  .respSecLoading{
    height: 70px;
    width: 70px;
  }
  .respLoading{
    height: 50px;
  }
  .respSystemSplash > img {
    height: 256px;
  }
}