@import "tailwindcss";

/* 🎯 Tema padrão (claro) */
:root {
  --color-secondary: #4B1E4D;
  --color-accent: #db1168;
  --color-neutral: #64748B;
  --color-text-primary: #151515;
  --color-bg-primary: #c1c1c1;
  --color-bg-primaryGradient: #e1e1e1;
  --color-bg-blur-primary-menu: #ffffff85;
  --color-bg-blur-primary: #ffffff60;
  --color-bg-blur-primary-hover: #ffffffaa;
  --color-bg-blur-primary-active: #ffffff75;
  --filter-placeholder-only: invert(0%);
  --filter-image-on-bg: invert(93%);
  --filter-logo-on-bg: invert(93%);
  --filter-hidden-image: saturate(0) brightness(500%);
  --color-filter-blurtopbottom: #d1d1d1;
  
  font-family: Inter, Helvetica, Arial, sans-serif;
}

/* 🎯 Tema padrão (escuro) */
:root[data-theme='dark'] {
  --color-secondary: #b65c9d;
  --color-accent: #ef4f91;
  --color-neutral: #a8acb5;
  --color-text-primary: #f2f0f2;
  --color-bg-primary: #19191b;
  --color-bg-primaryGradient: #303034;
  --color-bg-blur-primary-menu: #52525285;
  --color-bg-blur-primary: #65656530;
  --color-bg-blur-primary-hover: #ffffff30;
  --color-bg-blur-primary-active: #ffffff24;
  --filter-placeholder-only: invert(75%);
  --filter-image-on-bg: invert(7%);
  --filter-logo-on-bg: invert(7%);
  --filter-hidden-image: saturate(0) brightness(500%);
  --color-filter-blurtopbottom: #252525;
  color-scheme: dark;
}

html, body {
  max-width: 100vw;
  overflow-x: hidden;
  position: relative;
}

html {
  font-size: 16px;
  background-color: var(--color-bg-primary);
}

body {
  font-size: 1rem;
  line-height: 1.5;
  color: var(--color-text-primary);
  background: linear-gradient(0deg, var(--color-bg-primary) 0%, var(--color-bg-primaryGradient) 100%);
}

.MuiTypography-root {
  color: var(--color-bg-blur-primary);
}

#root {
  width: 100%;
  overflow-x: hidden;
}

/* FONTES */

@font-face {
  font-family: Bariol;
  src: url("/assets/fonts/Bariol/bariolReg.otf");
  font-weight: 400;
}

@font-face {
  font-family: Bariol;
  src: url("/assets/fonts/Bariol/bariolBold.otf");
  font-weight: 700;
}

@font-face {
  font-family: BariolItalic;
  src: url("/assets/fonts/Bariol/bariolRegItalic.otf");
  font-weight: 400;
}

@font-face {
  font-family: BariolItalic;
  src: url("/assets/fonts/Bariol/bariolBoldItalic.otf");
  font-weight: 700;
}

@font-face {
  font-family: Phonk;
  src: url("/assets/fonts/Phonk/PhonkContrast.otf");
  font-weight: 600;
}

@font-face {
  font-family: Phonk;
  src: url("/assets/fonts/Phonk/PhonkRegular.otf");
  font-weight: 500;
}

#root {
  display: block;
}

body {
  margin: 0;
}
