@import "tailwindcss";

.mainDev {
    width: 100%;
    background-color: #00000000;
    color: var(--color-text-primary);
}

.mainSection {
    background-color: #00000000;
}

.section2 {
    background-color: #00000000;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--color-bg-primary);
}
