/* NOAVAILABLE (RESPSYS) */

.containerNoAvailable {
  color: var(--color-text-primary);
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100dvh;
  padding: 55px;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 9999999;
  backdrop-filter: blur(50px);
}

.containerNoAvailableActive {
  display: flex;
}

.noAvailableLock {
  overflow: hidden !important;
}

.containerBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
  width: calc(100vw - 30px);
  font-size: 1.2rem;
  border-radius: 50px;
  background-color: var(--color-bg-blur-primary);
  box-shadow: inset 0 5px 10px -3px #00000030,
  0px 0px 10px #00000015;
  outline: 1px solid var(--color-bg-blur-primary);
}

.containerBox > img {
  width: 100px;
  filter: var(--filter-image-on-bg);
  animation: pulse 2s infinite ease-in-out;
}

.containerBox > p {
  font-size: 1rem;
  font-family: Inter, Helvetica, Arial, sans-serif;
  text-align: center;
  margin-top: 15px;
  font-weight: 300;
}

.button:active {
  scale: 0.950;
  transition: scale 200ms;
}

@media screen and (max-width: 239px) {

  .containerNoAvailable {
    padding: 25px;
  }

  .containerBox {
    background-color: #00000000;
    box-shadow: inset 0 5px 10px -3px #00000000;
    outline: #00000000;
  }

  .containerBox > img {
    display: none;
  }

  .containerBox > p {
    font-size: 5vw;
  }
}

@media screen and (max-height: 259px) {
  .containerNoAvailable {
    padding: 20px;
  }

  .containerBox {
    padding: 1rem;
    border-radius: 30px;
  }

  .containerBox > img {
    width: 60px;
  }

  .containerBox > p {
    font-size: 0.85rem;
  }
}

/* ANIMATIONS */

@keyframes pulse {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}

/* PARA NOAVAILABLE (RESPSYS) */
@media screen and (max-width: 300px) {
  header, footer, section {
    display: none;
  }
}

@media screen and (max-height: 259px) {
  header, footer, section {
    display: none;
  }
}
