/* NOAVAILABLE (RESPSYS) */

.containerNoAvailable {
  position: fixed;
  padding-top: 5px;
  width: 100vw;
  height: 100vh;
  padding: 55px;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 9999999;
  backdrop-filter: blur(50px);
}

.containerBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 3rem;
  font-size: 20px;
  border-radius: 50px;
  background-color: var(--color-bg-blur-primary);
  box-shadow: inset 0 5px 10px -3px #00000030;
  outline: 1px solid #92929225;
}

.containerBox > img {
  width: 100px;
  filter: invert(100%);
  animation: pulse 2s infinite ease-in-out;
}

.containerBox > p {
  font-size: 18px;
  font-family: Inter, Helvetica, Arial, sans-serif;
  text-align: center;
  margin-top: 15px;
  font-weight: 300;
}

.button:active {
  scale: 0.950;
  transition: scale 200ms;
}

@media screen and (max-width: 260px) {

  .containerNoAvailable {
    padding: 25px;
  }

  .containerBox > img {
    display: none;
  }

  .containerBox > p {
    font-size: 5vw;
  }
}

/* ANIMATIONS */

@keyframes pulse {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}

/* PARA NOAVAILABLE (RESPSYS) */
@media screen and (max-width: 300px) {
  header, footer, section {
    display: none;
  }
}